<div class="card filters">

    <div class="card-header">
      <strong>Filters</strong>
    </div>
  
    <div class="card-body">
      <form>
        <div class="form-group">
          <h4>Price</h4>
          <label for="from">From</label>
          <input type="number" id="from" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="to">To</label>
          <input type="number" id="to" class="form-control">
        </div>
        <h4>Ram</h4>
        <input type="checkbox" id="ram" name="ram" value="ram">&nbsp;
        <label for="ram">16Gb</label><br>
        <input type="checkbox" id="ram" name="ram" value="ram">&nbsp;
        <label for="ram">8Gb</label><br>
        <input type="checkbox" id="ram" name="ram" value="ram">&nbsp;
        <label for="ram">4Gb</label><br>
      <br>
      <h4>Processor</h4>
      <input type="checkbox" id="Processor" name="Processor" value="Processor">&nbsp;
      <label for="Processor">Intel I3</label><br>
      <input type="checkbox" id="Processor" name="Processor" value="Processor">&nbsp;
      <label for="Processor">Intel I5</label><br>
      <input type="checkbox" id="Processor" name="Processor" value="Processor">&nbsp;
      <label for="Processor">Intel I7</label><br>
  
      <h4>Hard Disc</h4>
      <input type="checkbox" id="HDD" name="HDD" value="HDD">&nbsp;
      <label for="HDD">1TB</label><br>
      <input type="checkbox" id="HDD" name="HDD" value="HDD">&nbsp;
      <label for="HDD">2TB</label><br>
      <input type="checkbox" id="HDD" name="HDD" value="HDD">&nbsp;
      <label for="HDD">3TB</label><br>
       
      <h4>SSD</h4>
      <input type="checkbox" id="SDD" name="SDD" value="SDD">&nbsp;
      <label for="SDD">256GB</label><br>
      <input type="checkbox" id="SDD" name="SDD" value="SDD">&nbsp;
      <label for="SDD">512GB</label><br>
      <input type="checkbox" id="SDD" name="SDD" value="SDD">&nbsp;
      <label for="SDD">1TB</label><br>
    
  
  
  
        <button class="btn btn-primary btn-block btn-sm">Filter</button>
      </form>
    </div>
  </div>
 